In [ ]:
# Name : Syed Sabbir Ahmed
# ID : 2301659

In [93]:
import pandas as pd
import numpy as np

At first I am reading the csv files.In the next few steps I am examining the data & dataset’s structure: columns and data types, and determining the presence of missing values.

In [2]:
data = pd.read_csv('streaming_data (2).csv')

In [139]:
data.head(100)

,ID,Type,Genre,Rating,Release Year,Viewer Count,Average Viewer Age,Age Category
0,1,Movie,Romance,R,2013,52119.000000,40,Between 40 and 55
1,2,TV Show,Drama,PG-13,2000,67742.000000,22,Younger than 25
2,3,TV Show,Action,PG-13,1980,92898.000000,62,Older than 55
3,4,Movie,Horror,PG,2013,49495.000000,65,Older than 55
4,5,Movie,Drama,R,1999,49349.636667,52,Between 40 and 55
...,...,...,...,...,...,...,...,...
95,96,Movie,Documentary,PG,2016,49349.636667,65,Older than 55
96,97,Movie,Drama,PG-13,1987,49349.636667,32,Between 25 and 40
97,98,Movie,Family,PG,1989,62889.000000,13,Younger than 25
98,99,TV Show,Sci-Fi,PG-13,1984,6764.000000,25,Between 25 and 40
99,100,Movie,Romance,R,1996,14715.000000,48,Between 40 and 55

In [4]:
print("first few rows of the dataset")
print(data.head(100))

first few rows of the dataset
     ID     Type        Genre Rating  Release Year  Viewer Count  \
0     1    Movie      Romance      R          2013       52119.0
1     2  TV Show        Drama  PG-13          2000       67742.0
2     3  TV Show       Action  PG-13          1980       92898.0
3     4    Movie       Horror     PG          2013       49495.0
4     5    Movie        Drama      R          1999           NaN
..  ...      ...          ...    ...           ...           ...
95   96    Movie  Documentary     PG          2016           NaN
96   97    Movie        Drama  PG-13          1987           NaN
97   98    Movie       Family     PG          1989       62889.0
98   99  TV Show       Sci-Fi  PG-13          1984        6764.0
99  100    Movie      Romance      R          1996       14715.0

    Average Viewer Age
0                   40
1                   22
2                   62
3                   65
4                   52
..                 ...
95                  65
96                  32
97                  13
98                  25
99                  48

[100 rows x 7 columns]

In [5]:
print("/n columns & data types:")
print(data.dtypes)

/n columns & data types:
ID                      int64
Type                   object
Genre                  object
Rating                 object
Release Year            int64
Viewer Count          float64
Average Viewer Age      int64
dtype: object

In [6]:
missing_values = data.isnull().sum()
print("\n missing values:")
print(missing_values)

 missing values:
ID                      0
Type                    0
Genre                  50
Rating                  0
Release Year            0
Viewer Count          100
Average Viewer Age      0
dtype: int64

After finding missing values,I have tried to use the mean value as replacement.

In [141]:
for column in data.columns:
    if data[column].dtype == 'object':
        if data[column].isnull().any():
            mode_value = data[column].mode()[0]
            data[column] = data[column].fillna(mode_value)
    else:
        if data[column].isnull().any():
            mean_value = data[column].mean()
            data[column] = data[column].fillna(mean_value)

print("\nMissing Values After Handling:")
print(data.isnull().sum())

Missing Values After Handling:
ID                    0
Type                  0
Genre                 0
Rating                0
Release Year          0
Viewer Count          0
Average Viewer Age    0
Age Category          0
dtype: int64

Here I am trying to figure out among movies & TV shows, which has the most available in datasets. I used the if, elif, else logic that I learned in Introduction to Programming.

In [120]:
movie_count = data[data['Type'] == 'Movie'].shape[0]
tv_show_count = data[data['Type'] == 'TV Show'].shape[0]
if movie_count > tv_show_count:
    print("There are more movies than TV shows in the dataset.")
elif movie_count < tv_show_count:
    print("There are more TV shows than movies in the dataset.")
else:
    print("The number of movies and TV shows is equal in the dataset.")

There are more movies than TV shows in the dataset.

In [121]:
movie_counts_by_year = data[data['Type'] == 'Movie'].groupby('Release Year').size()
year_with_highest_movies = movie_counts_by_year.idxmax()
highest_movie_count = movie_counts_by_year.max()

print(f"Release Year with the highest number of Movies: {year_with_highest_movies} (Count: {highest_movie_count})")

Release Year with the highest number of Movies: 2013 (Count: 20)

In [115]:
movie_genres = data[data['Type'] == 'Movie']['Genre'].value_counts()

tv_show_genres = data[data['Type'] == 'TV Show']['Genre'].value_counts()

most_common_genre = movie_genres.combine(tv_show_genres, max, fill_value=0)

print("The most common genre in the dataset is:", most_common_genre.idxmax())

if movie_genres[most_common_genre.idxmax()] > tv_show_genres[most_common_genre.idxmax()]:
    print("There are more movies than TV shows within the most common genre.")
elif movie_genres[most_common_genre.idxmax()] < tv_show_genres[most_common_genre.idxmax()]:
    print("There are more TV shows than movies within the most common genre.")
else:
    print("The number of movies and TV shows within the most common genre is equal.")

The most common genre in the dataset is: Drama
There are more movies than TV shows within the most common genre.

In [109]:
genre_average_viewer_count = data.groupby('Genre')['Viewer Count'].mean()

highest_average_viewer_count_genre = genre_average_viewer_count.idxmax()
highest_average_viewer_count = genre_average_viewer_count.max()

print("Genre with the highest average viewer count:", highest_average_viewer_count_genre)
print("Highest average viewer count:", highest_average_viewer_count)

Genre with the highest average viewer count: Horror
Highest average viewer count: 54789.9764

In [110]:
movies_before_2001 = data[(data['Type'] == 'Movie') & (data['Release Year'] < 2001)]
tv_shows_after_2001 = data[(data['Type'] == 'TV Show') & (data['Release Year'] > 2001)]

most_popular_movie = movies_before_2001.loc[movies_before_2001['Viewer Count'].idxmax()]
most_popular_tv_show = tv_shows_after_2001.loc[tv_shows_after_2001['Viewer Count'].idxmax()]

rating_most_popular_movie = most_popular_movie['Rating']
rating_most_popular_tv_show = most_popular_tv_show['Rating']

print("Rating of the most popular movie before 2001:", rating_most_popular_movie)
print("Rating of the most popular TV show after 2001:", rating_most_popular_tv_show)

Rating of the most popular movie before 2001: PG
Rating of the most popular TV show after 2001: PG-13

In [122]:
age_bins = [0, 25, 40, 55, float('inf')]
age_labels = ['Younger than 25', 'Between 25 and 40', 'Between 40 and 55', 'Older than 55']
data['Age Category'] = pd.cut(data['Average Viewer Age'], bins=age_bins, labels=age_labels, right=False)
age_category_counts = data['Age Category'].value_counts()
most_frequent_age_category = age_category_counts.idxmax()
least_frequent_age_category = age_category_counts.idxmin()

print("Most frequent age category:", most_frequent_age_category)
print("Least frequent age category:", least_frequent_age_category)

Most frequent age category: Between 40 and 55
Least frequent age category: Younger than 25

In [123]:
unique_years =data['Release Year'].unique()
sorted_years = sorted(unique_years, reverse=True)
most_recent_years = sorted_years[:2]
print("The two most recent years in the dataset are:", most_recent_years)

The two most recent years in the dataset are: [2022, 2021]

In [124]:
filtered_data = data[(data['Rating'] == 'R') & (data['Release Year'].isin([2021, 2022]))]

total_views_in_2021_2022 = filtered_data['Viewer Count'].sum()
print("The total number of views for all movies with Rating 'R' in 2021 and 2022 is:", total_views_in_2021_2022)

The total number of views for all movies with Rating 'R' in 2021 and 2022 is: 555902.2733333333

In [134]:
movies_R = data[(data['Type'] == 'Movie') & (data['Rating'] == 'R')]
total_views_R_movies = movies_R['Viewer Count'].sum()

print("Total number of views for all movies with Rating 'R':", total_views_R_movies)

Total number of views for all movies with Rating 'R': 9418317.823333334

In [144]:
filtered_before_2021_2022 = data[(data['Rating'] == 'R') & (data['Release Year'] < 2021)]
total_views_before_2021_2022 = filtered_before_2021_2022['Viewer Count'].sum()

print("Total number of views for movies with Rating 'R' before 2021 and 2022:", total_views_before_2021_2022)

Total number of views for movies with Rating 'R' before 2021 and 2022: 13734219.916666668

In [143]:
filtered_2021_2022 = data[(data['Rating'] == 'R') & (data['Release Year'] >= 2021)]

total_views_2021_2022 = filtered_2021_2022['Viewer Count'].sum()

if total_views_2021_2022 > total_views_before_2021_2022:
    print("Total views increased in 2021 and 2022 compared to the previous years.")
elif total_views_2021_2022 < total_views_before_2021_2022:
    print("Total views decreased in 2021 and 2022 compared to the previous years.")
else:
    print("Total views remained the same in 2021 and 2022 compared to the previous years.")

Total views decreased in 2021 and 2022 compared to the previous years.

In [137]:
movies_data_before_2021_2022 = data[(data['Release Year'] < 2021) & (data['Type'] == 'Movie')]
tv_shows_data_before_2021_2022 = data[(data['Release Year'] < 2021) & (data['Type'] == 'TV Show')]

total_views_movies_before_2021_2022 = np.sum(movies_data_before_2021_2022['Viewer Count'])
total_views_tv_shows_before_2021_2022 = np.sum(tv_shows_data_before_2021_2022['Viewer Count'])

print("Total views for all movies before 2021 and 2022:", total_views_movies_before_2021_2022)
print("Total views for all TV shows before 2021 and 2022:", total_views_tv_shows_before_2021_2022)

Total views for all movies before 2021 and 2022: 28438817.833333336
Total views for all TV shows before 2021 and 2022: 18337583.650000002

In [138]:
movies_data_2021_2022 = data[(data['Release Year'] >= 2021) & (data['Type'] == 'Movie')]
tv_shows_data_2021_2022 = data[(data['Release Year'] >= 2021) & (data['Type'] == 'TV Show')]

viewer_counts_movies_2021_2022 = movies_data_2021_2022['Viewer Count'].values
viewer_counts_tv_shows_2021_2022 = tv_shows_data_2021_2022['Viewer Count'].values

total_views_movies_2021_2022 = np.sum(viewer_counts_movies_2021_2022)
total_views_tv_shows_2021_2022 = np.sum(viewer_counts_tv_shows_2021_2022)

print("Total views for all movies in 2021 and 2022:", total_views_movies_2021_2022)
print("Total views for all TV shows in 2021 and 2022:", total_views_tv_shows_2021_2022)

Total views for all movies in 2021 and 2022: 1650247.6366666667
Total views for all TV shows in 2021 and 2022: 922987.5466666666

In [108]:
if total_views_movies_2021_2022 > total_views_movies_before_2021_2022:
    print("Total views for movies increased in 2021 and 2022 compared to the previous years.")
else:
    print("Total views for movies decreased in 2021 and 2022 compared to the previous years.")

if total_views_tv_shows_2021_2022 > total_views_tv_shows_before_2021_2022:
    print("Total views for TV shows increased in 2021 and 2022 compared to the previous years.")
else:
    print("Total views for TV shows decreased in 2021 and 2022 compared to the previous years.")

if total_views_movies_2021_2022 > total_views_tv_shows_2021_2022:
    print("The platform should invest more money in movies.")
else:
    print("The platform should invest more money in TV shows.")

Total views for movies decreased in 2021 and 2022 compared to the previous years.
Total views for TV shows decreased in 2021 and 2022 compared to the previous years.
The platform should invest more money in movies.